<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper" style="text-align: center;">

      <div style="padding-bottom: 10px">
        Theme: Surgeon Tux by <a class="page-link" href="{{site.url}}{{site.baseurl}}/about/" ><strong>Lahiru Pathirage</strong></a>
      </div>

      {% if site.github_username %}
      {% include icon-github.html username=site.github_username %}
      {% endif %}
      <span style="padding-right: 20px"></span>

      {% if site.twitter_username %}
      {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}

    </div>

  </div>

</footer>
